@import '../../styles/styles';

.navbar {
  @extend .navbar;
  @extend .navbar-toggleable-md;
  @extend .navbar-light;
  @extend .bg-faded;
  margin-bottom: 20px;

  .navbarBrand {
    @extend .navbar-brand;

    .logo {
      @extend .d-inline-block;
      @extend .align-top;
    }
  }

  .navWrapper {
    @extend .collapse;
    @extend .navbar-collapse;

    .navbarNav,
    .navbarMain {
      @extend .navbar-nav;

      .link {
        @extend .nav-item;
        @extend .nav-link;

        &.active {
          @extend .active;
        }
      }

      .userContainer {

        .logout {
          @extend .btn;
          @extend .btn-sm;
          @extend .btn-outline-danger;
          margin-left: 10px;
        }

        .avatar {
          @extend .mr-sm-2;
          border-radius: 50px;
        }
      }
    }

    .navbarMain {
      @extend .mr-auto;
    }
  }
}
